html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.input{
  @apply outline-none border border-transparent focus-within:border-blue-400;
  @apply bg-gray-50 hover:bg-true-gray-100;
  @apply dark:(bg-true-gray-700 hover:bg-true-gray-600 )
}

.active {
  @apply bg-blue-50 text-blue-400 hover:opacity-75 dark:bg-gray-800 cursor-pointer
}